@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

// html {
//   @include flexCenter(row, center, center);
// }

body {
  background-color: $black;
  font-family: "Lato", sans-serif;

  h2 {
    color: $white;
  }
  h3 {
    color: $white;
  }
  h5 {
    color: $white;
  }

  h6 {
    color: $orange;
  }

  p {
    color: $grey;
  }
}
