.main-gallery {
  @include flexCenter(column, center, center);
  @include duoPadMar(20px, 0);
  .filter-container {
    @include flexCenter(row, flex-end, center);
    @include contentSize(28px, 80%);
    @include duoPadMar(0, 20px);
    select {
      @include contentSize(28px, 110px);
      height: 20px;
      width: 110px;
      @include fontSize(18px);
      font-size: 20px;
      background-color: $light-grey;
      color: $orange;
      border-radius: 4px;
    }
  }

  .content-card-wrapper {
    @include flexCenter(row, center, center);
    flex-wrap: wrap;

    .content-card {
      @include flexCenter(column, center, center);
      @include contentSize(600px, 220px);
      border-bottom: 1px solid hsla(0, 0%, 78.4%, 0.4);

      .title-container {
        @include flexCenter(row, center, center);
        @include contentSize(100px, 220px);

        h3 {
          text-align: center;
        }
      }

      .content-container {
        @include flexCenter(column, center, center);
        @include contentSize(150px, 220px);

        .content-wrap {
          @include flexCenter(column, center, center);
          @include contentSize(25px, 220px);
          @include duoPadMar(0, 0);

          .p {
            @include flexCenter(column, center, center);
            @include contentSize(25px, 220px);
            @include duoPadMar(0, 0);
          }
        }

        .content-wrap2 {
          @include flexCenter(row, center, center);
          @include contentSize(38px, 220px);

          .p {
            @include contentSize(38px, 220px);
            @include duoPadMar(0, 0);
          }
        }

        .content-wrap3 {
          @include flexCenter(column, center, center);
          @include contentSize(70px, 220px);
          @include duoPadMar(0, 0);
          @include textAlign(center);

          .p {
            @include flexCenter(row, center, center);
            @include contentSize(70px, 220px);
            @include duoPadMar(0, 0);
          }
        }
      }
    }
  }
}
